@import '../../../../dev-connect/styles/kalie.theme';
.home-container{
    display: flex;
    font-size: 1.8rem;
}

.hero-container{
    width: 100%;
    height: 20rem;
    background-color: $color-secondary-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}